/* Importa a fonte Chakra Petch do Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Brice\ Regular\ SemiExpanded';
    src: url('fontes/Brice\ Regular\ SemiExpanded.otf') format('truetype');
  }
  
/* Estiliza o corpo da página */
body {
    background-image: url(imagens/Design\ sem\ nome\ \(3\).png);  /* Define a imagem de fundo */
    background-size:130%; /*tamanho da imagem do background*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Preenche a altura total da viewport */
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background: #1b0164; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-left: 18rem; /* Espaçamento esquerdo dos itens */
    margin-right: 20rem; /* Espaçamento direito dos itens */
    margin-top: 15rem; /* Espaçamento topo dos itens */
}

/* Estiliza os títulos h1 */
h1 {
    font-family: "Brice\ Regular\ SemiExpanded"; /* Estilo da fonte */
    font-weight: bolder; /* Espessura da Fonte */
    font-style:normal; /* Estilo da fonte */
    font-size: 8rem; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto ao centro */
    color: #f8f8f8; /* Cor do texto */
    margin-bottom: 0px;
    margin-top: 0px;
}

/* Estiliza o h2 do topo da página */
h2{
    text-align: center; /* centralizar texto  */
    color: #ffc9f6; /* cor do texto */
}

p {
    color: #ffc9f6; /* cor do texto */
    background-color: #1b0164;
    
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
    margin-top: 3rem;
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #000000; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estiliza os botões dentro das seções */
section button {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: #1b0164; /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: all 0.3s ease-in-out;
    &:hover {
        font-weight: 600;
        transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
        background-color: #ee05a0; /* Muda a cor de fundo */
        box-shadow: 0px 5px 10px rgba(66, 6, 6, 0.2); /* Adiciona uma sombra */
        color: #1b0164; /* Cor do texto */
      }
    }

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}

/* Estiliza cada item de resultado */
.item-resultado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
    background: #FFFFFF; /* Cor de fundo dos itens */
    opacity: 90%;
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.item-resultado p{
    background: #FFFFFF; /* Cor de fundo dos itens */
}

.item-resultado img{
    margin-right: 1rem;
    width:fit-content;
    height: 15rem;
    border-radius: 0.6rem; /* Borda arredondada */
    object-fit: cover;
    margin-right: 1rem;
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    text-align: left;
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #222831; /* Cor do texto */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #30475E; /* Cor do texto dos links */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #45474B; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

/* Estiliza o rodapé da página */
footer {
    background-color: #1b0164; /* Cor de fundo do rodapé */
    color: #d38cc7; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position:sticky; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
}
